{
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "greasemonkey": true,
    "shared-node-browser": true
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "globals": {
    "globalThis": true
  },
  "ignorePatterns": [
    "ExAdvancedSearchMemo.user.js",
    "UnlockHathPerks.user.js",
    "JWTInspector.user.js"
  ]
}
