{
  "env": {
    "node": true,
    "browser": true,
    "greasemonkey": true
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  }
  ,
  "ignorePatterns":[
    "ExAdvancedSearchMemo.user.js"
  ]
}
