/* ==UserStyle==
@name           Youtube Better Popup
@namespace      https://github.com/FlandreDaisuki
@version        1.0.0
@description    Work with extension {eight04/popup-tab} & {xxzefgh/youtube-classic-extension}
@author         FlandreDaisuki
==/UserStyle== */
@-moz-document url-prefix("https://www.youtube.com/watch") {
  @media (max-width: 1600px) {
    #a11y-announcements-container,
    #masthead-positioner,
    #masthead-positioner-height-offset,
    #footer-container,
    #content,
    #watch7-container,
    #theater-background {
      display: none;
    }
    #player {
      top: 0;
      max-width: initial;
      margin: 0;
    }
    #player-api,
    .html5-main-video {
      width: 100vw !important;
      height: 56.25vw !important;
      left: 0;
      margin: 0;
    }
    #body-container {
      overflow: hidden;
    }
    .ytp-chrome-bottom {
      width: 100% !important;
      left: 0 !important;
    }
    .ytp-tooltip {
      top: initial !important;
      bottom: 50px;
    }
  }
}
